#!/usr/bin/env xdg-open
[Desktop Entry]
Version=7.1
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/simile-7.1/Images/bigsimile.gif
Name[en_GB]=Simile v7.1
Exec="/usr/bin/simile"
Comment=Graphical Modelling Environment
Categories=Science;Education;
Name=Simile v7.1
Icon=/usr/share/simile-7.1/Images/bigsimile.gif
