#!/usr/bin/env xdg-open
[Desktop Entry]
Version=7.4
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/simile-7.4/Images/bigsimile.gif
Name[en_GB]=Simile v7.4
Exec="/usr/bin/simile"
Comment=Graphical Modelling Environment
Categories=Science;Education;
Name=Simile v7.4
Icon=/usr/share/simile-7.4/Images/bigsimile.gif
