#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/simile-6.0/Images/bigsimile.gif
Name[en_GB]=Simile
Exec=simile
Name=Simile
Icon=/usr/share/simile-6.0/Images/bigsimile.gif
